<button *ngIf="!game" (click)="createGame()">
  Start Game
</button>

<section *ngIf="game">
  <div>
    {{ game.word }}
  </div>

  <form (ngSubmit)="guess(guessWord, $event)">
    <input
      required
      type="text"
      name="guessWord"
      [(ngModel)]="guessWord"
      [disabled]="game.status !== 'in_progress'"
    >
    <button type="submit" [disabled]="!guessWord?.length || game.status!=='in_progress'">Solve</button>
  </form>

  <button
    *ngFor="let char of characters"
    type="button"
    (click)="guess(char)"
    [disabled]="hasGuessed(char) || game.status!=='in_progress'"
  >{{ char }}</button>

  <div>Guesses: {{ game.guesses.join(', ') }}</div>
  <div>Guesses left: {{ game.guesses_left }}</div>

  <button (click)="createGame()">New game</button>

  <h1 *ngIf="game.status === 'lost'">You lose!</h1>
  <h1 *ngIf="game.status === 'won'">You won!</h1>
</section>
